body{
background:#0a0a0a;
color:white;
font-family:monospace;
text-align:center;
}

.menu{
margin-top:100px;
}

.inventory{
display:none;
margin-top:50px;
display:flex;
justify-content:center;
}

.grid{
display:grid;
grid-template-columns:repeat(3,120px);
gap:20px;
}

.slot{
width:120px;
height:120px;
border:2px solid cyan;
cursor:pointer;
}

.slot img{
width:100%;
height:100%;
}

.preview{
margin-left:50px;
border:2px solid cyan;
padding:20px;
}

button{
background:none;
border:2px solid cyan;
color:cyan;
padding:10px;
margin-top:10px;
cursor:pointer;
}

#popup{
display:none;
position:absolute;
top:40%;
left:40%;
background:black;
padding:20px;
border:2px solid cyan;
}